<configuration>
	<!-- CLOUD SETTINGS -->
	<storageConnectionString>DefaultEndpointsProtocol=https;AccountName=techmldemostor;AccountKey=dI9NF8qxQKtqgDAN/j8NaLGgzYJ81mNosbI9aSGdFeTwR6v+M5tpQT5B02zEXsylndPxuEsLd+UYcWWEA1UcCg==;EndpointSuffix=core.windows.net</storageConnectionString>
	<containerName>input-images</containerName>
	<queueName>review-queue</queueName>
	<queueNameLocal>review-queue-local</queueNameLocal>

	<documentDbEndpoint>https://techmldemodocdb.documents.azure.com:443/</documentDbEndpoint>
	<documentDbKey>TTKz7EyLcgnjSi6HagEQDVnVaRKy4aVrFcnepaMZPwfwJj6ODhIaG4J0h5kt2Q2XmS96LewOWEuPFa4xMNc5cw==</documentDbKey>
	<documentDbName>customerReviewData</documentDbName>
	<documentDbCollName>reviews</documentDbCollName>
	<documentDbPartKeyPath>/reviewId</documentDbPartKeyPath>
	<documentDbPartValue>Reviews</documentDbPartValue>
</configuration>